
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">LusoTicket</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0" style="text-align: center;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/locals">Locals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
          </li>
        </ul>
      </div>
      <div class="navbar-login" style="float: right; width: 100%;">
        <ul class="navbar-nav me-auto mb-2 mb-md-0" style="text-align: center; float: right;">
          <li class="nav-item" *ngIf="!currentUser">
            <a class="nav-link" href="/login">Sign Up</a>
          </li>
          <li class="nav-item" *ngIf="admin == true">
            <a class="nav-link" href="http://localhost:3000/users/signup" target="_blank" rel="external" >ADMIN</a>
          </li>
          <li class="nav-item" *ngIf="userID">
          <a class="nav-link" (click)="ViewPerfil(userID)" >Perfil</a>
        </li>
          <li class="nav-item" *ngIf="currentUser">
            <a class="nav-link" (click)="logout()" >Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>