<app-nav-bar></app-nav-bar>
<section class="py-5 text-center container" *ngIf="event">
  <div class="row py-lg-5">
   <h3>{{event.name}}</h3>
 </div>
</section>

    <div class="container" *ngIf="event">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <app-images *ngIf="event.images" [imgname]="event.images" style="width: 50%; margin: auto; padding-top: 20px;"></app-images>
            <div class="card-body">
              <ul class="card-text" style="list-style: none;">
                <li></li>
                <hr class="my-4">
                <p>--- Location ---</p>
                <li>Street : {{event.address}}</li>
                <li>City : {{event.city}}</li>
                <li>Country : {{event.country}}</li>
                <li>Coordenates : {{event.latitude}}, {{event.longitude}}</li>
                <hr class="my-4">
                <li>Type : {{event.type}}</li>
                <li>Capacity : {{event.capacity}}</li>
                <li>Seated? : {{event.hasseats}}</li>
                <hr class="my-4">

                <li>Starting Hour : {{event.hour}}</li>
                <li>First Day : {{event.firstday}}, Last Day: {{event.lastday}}</li>

                <hr class="my-4">
                <li *ngIf="event.duration">Duration : {{event.duration}} hours</li>
                <li>Description : {{event.description}}</li>
                <hr class="my-4">
                  <br>
                  <ul class="card-text prices-container">
                    <li class="float-center price-item">
                      <div class="price-box">Price</div>
                      <div class="value-box">{{event.price}} €</div>
                    </li>
                  </ul>
              </ul>
              <div class="d-flex justify-content-between align-items-center"></div>
              <div class="btn-group" style=" float: right; padding: 10px;">
                  <button type="submit" class="btn btn-sm btn-checkout" (click)="Viewcheckout(event._id)">BUY</button>
            </div>
            <br>
            <h4><a href="/events" style="font-size: medium; color: black;">BACK</a></h4>
          </div>
        </div>
      </div>
    </div>